html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  overflow-x: none;
}
#content {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-image: url('../img/zooBackground.png');
  background-size: cover;
}
.wrapper {
  padding: 20px;
}
.info {
  width: 90%;
  position: absolute;
  top: 90px;
  left: 5%;
}
.message {
  width: 94%;
  display: none;
  float: left;
  clear: both;
  margin-top: 40px;
  padding: 3%;
  color: white;
  background-color: rgba(45, 91, 97, 0.8);
}
.message h2 {
  margin-top: 0;
  text-align: center;
}
.message :last-child {
  margin-right: 0;
}
.messageBlock {
  display: block;
}
.messageInfo {
  list-style: none;
  padding-left: 0;
  font-size: 17px;
  font-weight: 600;
  display: block;
  margin-right: 30px;
  clear: none;
  float: left;
}
.messageInfo h3 {
  color: #91dafb;
  color: #e9503c;
  font-size: 21px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}
.messageInfo span {
  font-size: 18px;
}
.searchInfo {
  display: block;
  width: 40%;
  float: left;
  clear: both;
  margin-left: 20%;
  margin-top: 40px;
  float: left;
}
.searchInfo input {
  width: 100%;
}
